label{
    color: #fff;
    margin-bottom: 0.5rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
}
form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(239, 210, 220, 0.1);
    border-color: rgba(202, 228, 229, 0.488);
    color: #f4f4f4;
}

.alert {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 16px;
    
  }
  
  .success {
    background-color: #4CAF50; 
    color: white;
    border-color: #4CAF50;
  }
  
  .error {
    background-color: #f44336; 
    color: white;
    border-color: #f44336;
  }
